[Unit]
Description=Node Exporter
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/node_exporter --web.listen-address=0.0.0.0:{{ port }}
Restart=always

[Install]
WantedBy=multi-user.target